<!----======== CSS ======== -->
<link rel="stylesheet" href="style.css">

<!--===== Boxicons CSS =====-->
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <div class="container">
        <div class="search-box">
            <i class="bx bx-search"></i>
            <input type="text" placeholder="¿Qué Anime deseas buscar?">
        </div>

        <div class="images">
            <div class="image-box" data-name="blood c">
                <img src="images/bloodc.jpg" alt="">
                <h6>Blood C</h6>
            </div>
            <div class="image-box" data-name="jujutsu kaisen">
                <img src="images/JJK_New_Key_Visual.webp" alt="">
                <h6><a href="">Jujutsu Kaisen</a> </h6>
            </div>
            <div class="image-box" data-name="kaguya-sama">
                <img src="images/kaguya.jpg" alt="">
                <h6>Kaguya-sama Love is war</h6>
            </div>
            <div class="image-box" data-name="tensei shitara slime datta ken">
                <img src="images/tensei.webp" alt="">
                <h6>Tensei Shitara Slime Datta Ken</h6>
            </div>
            <div class="image-box" data-name="one puch man">
                <img src="images/One_Punch_Man_Anime.webp" alt="">
                <h6>One Puch Man</h6>
            </div>
            <div class="image-box" data-name="k-on">
                <img src="images/k-on-1.webp" alt="">
                <h6>K-ON!</h6>
            </div>
            <div class="image-box" data-name="koitouso">
                <img src="images/koitouso.jpg" alt="">
                <h6>koitouso</h6>
            </div>
            <div class="image-box" data-name="kuzo no honkai">
                <img src="images/kuzo.jpg" alt="">
                <h6>Kuzo no Honkai</h6>
            </div>
            <div class="image-box" data-name="kokoro connect">
                <img src="images/kokoro.jpg" alt="">
                <h6><a href="#">Kokoro Connect</a></h6>
            </div>
            <div class="image-box" data-name="jujutsu kaisen">
                <img src="images/JJK_New_Key_Visual.webp" alt="">
                <h6>Jujutsu Kaisen</h6>
            </div>
        </div>
    </div>

    <script src="script.js"></script>